name: Continuous integration

on:
  push:
    branches:
    - main
    - develop
  pull_request:
    branches:
    - main
    - develop

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true
      - run: cargo check --all --all-targets
      - run: cargo check --all --all-targets --no-default-features --features alternator

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true
      - name: Install cargo-nextest
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-nextest
      - run: cargo nextest run
      - run: cargo nextest run --no-default-features --features alternator

  fmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
          cache: true
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
          cache: true
      - run: cargo clippy -- -D warnings
      - run: RUSTFLAGS="--cfg fetch_extended_version_info" cargo clippy -- -D warnings
      - run: cargo clippy --no-default-features --features alternator -- -D warnings
